body
{
background-size: cover;
font-family: 'Hubballi', cursive;
}

#show_sketch{
    float: right;
    margin-top: 0px;
    margin-right: 2.5px;
    font-weight: bolder;
    width: 130px;
    font-size: larger;
    height: 58px;
}

canvas{
    margin-top: 90px;
}

.copy_right_footer
{
  position: fixed;
  background-color: ghostwhite;
  color: black;
  font-size: medium;
  width:100%;
  bottom: 0;
  text-align: center;
  line-height: 3;
  font-weight: bolder;
  text-shadow: 0 0 3px #FF0000;
}